/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


body {
    width: 350px;
    min-height: 100px;
    background-color: #feffde;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.modes{
    position: absolute;
    top: 0;
    left: 0;

    .mode-btn{
        color: black;
        padding: 4px;
        border: 1px solid #9CA38E;
        background-color: #DDE0C3;

        &.active{
            font-weight: bold;
            border: 2px solid #7D8573;
            background-color: #FFE9E4;
        }

        &:hover{
            background-color: #FFE9E4;
        }
    }
}

.popup-view {
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.75rem;
}

.recent-items{
    display:flex;
    flex-flow: row wrap;
    width: 100%;

    p { 
        width: 45%;
        cursor: pointer;
        color: blue;
        text-decoration: underline;
     }
}

label { 
    font-size: 1rem;
}
